/*-- CSS Reset --*/
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

/*-- Main structural styling --*/

body {
    background: #DCE8F2;
    color: #333333;
    width: 75%;
    max-width: 700px;
    margin: auto;
}


section, header, footer {
    width: 80%;
    max-width: 700px;
    margin: auto;
    padding: 0;
}

.dark {
    background: #2A4359;
    padding: 3rem 0;
    margin-top: 0.5em;
}

.light {
    background: #B0C6D9;
    padding: 3rem 0;
    margin-top: 0.5em;
}


/*-- Styling Typography --*/

h1, h2, h3 {
    font-weight: normal;
}

p, blockquote {
    margin-bottom: 1.5rem;
    line-height: 1.4;
}

p, li {
    margin-bottom: 2em;
    line-height: 1.5em;
}

h1 {
    font-size: 5.6rem;
    margin-top: 2em;
    margin-bottom: .1em;
    color: #2A4359;
}
h2 {
    font-size: 1.999rem;
    margin: 3em 0 1em 0;
    color: #2A4359;
}

h3 {
    font-size: 1.8rem;
    color: #2A4359;
}

blockquote {
    font-size: 1rem;
    font-style: italic;
    font-weight: 450rem;
    hanging-punctuation: first;
    color: #4E7DA6;
    text-align: center;
}

cite {
    font-size: 0.8em;
    color: #333333;
    font-style: normal;
}

header h2 {
    font-size: 2.827rem;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 3em;
}

header p {
    font-size: 1.2rem;
}



/*-- Styling Links --*/
a{
    color: #f7f7f7;
    text-decoration: none;
}

a:visited {
    color: #f7f7f7;
}

a:hover {
    color: #f7f7f7;
    border-bottom: 1px dotted;
}

/*-- Styling Nav --*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background: #2A4359;
    padding: 2em 0;
    font-size: 0.75rem;
    border-top: 1px solid #2A4359;
    border-bottom: 1px solid #2A4359;
}

nav ul {
    text-align: center;
    text-transform: upper-case;
    letter-spacing: 2px;
}

nav ul li {
    display: inline;
    margin: 20px;
    background: none;
}

nav a {
    color: #f7f7f7;
}

nav a:visited {
    color: #f7f7f7;
}

nav a:hover {
    border-bottom: none;
    color: #FFFDF5;
    transition: all 0.3s ease-in-out;
}

hr{
    margin: 100px 0;
    height: 1px;
    background-color: #F2EDD0;
    color: #F2EDD0;
    border: 0 none;
}


/*-- Footer --*/

footer {
    text-align: left;
    font-size: 0.8rem;
    margin: auto;
}

footer li {
    color: #f7f7f7;
    line-height: 1.5rem;
}

footer a:hover {
    color: #2A4359;
    transition: all 0.5s ease-in-out;
}